@import "variables";

.map_container {
  position: relative;
  #object_map {
    visibility: visible;
    height: 600px;
    width: 100%;
  }
  .map_sidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(#ffffff, 0.9);
    padding: 30px 60px 30px 30px;
    ul {
      li {
        margin-bottom: 20px;
        display: table;
        width: 100%;
        &:last-of-type {
          margin-bottom: 0;
        }
        &.map_banks .my_checkbox label .my_checkbox_text {
          color: #424f89;
        }
        &.map_bakeries .my_checkbox label .my_checkbox_text {
          color: #2989a5;
        }
        &.map_cafes .my_checkbox label .my_checkbox_text {
          color: #0295c4;
        }
        &.map_dentists .my_checkbox label .my_checkbox_text {
          color: #475c56;
        }
        &.map_schools .my_checkbox label .my_checkbox_text {
          color: #477664;
        }
        &.map_hospitals .my_checkbox label .my_checkbox_text {
          color: #1ba570;
        }
        &.map_dostors .my_checkbox label .my_checkbox_text {
          color: #1ba570;
        }
        &.map_parkings .my_checkbox label .my_checkbox_text {
          color: #fcba26;
        }
        &.map_pharmacies .my_checkbox label .my_checkbox_text {
          color: #f36326;
        }
        &.map_police .my_checkbox label .my_checkbox_text {
          color: #f36326;
        }
        &.map_post_offices .my_checkbox label .my_checkbox_text {
          color: #e5232b;
        }
        &.map_restaurants .my_checkbox label .my_checkbox_text {
          color: #f25c8e;
        }
        &.map_gas_stations .my_checkbox label .my_checkbox_text {
          color: #ff78ce;
        }
        &.map_universities .my_checkbox label .my_checkbox_text {
          color: #d462fa;
        }
        .my_checkbox label .my_checkbox_text {
          font-family: lato_bold;
          .icn {
            display: block;
            width: 30px;
            text-align: center;
            float: left;
          }
        }
      }
    }
  }
}


nav.navbar {
  border-bottom: none;
}

section {
  margin-top: 25px;
  h1 {
    font: 1.375rem lato_regular;
    text-align: left;
    margin-bottom: 15px;
  }
}

.contact_section {
  a.back_link {
    font-size: 1rem;
    i {
      font-size: 0.750rem;
    }
    &:hover {
      color: $main_blue;
    }
  }
  .agent_info_container {
    border: 1px solid $border_color;
    margin-top: 15px;
    .agent_img {
      overflow: hidden;
      img {
        display: block;
        height: 100%;
        float: right;
      }
    }
    .agent_info {
      padding: 30px 0 30px;
      p {
        font-size: 18px;
      }
      .agent_name {
        margin: 15px 0 5px;
        font: 30px lato_bold;
        text-transform: uppercase;
        color: $main_blue;
      }
      ul {
        display: table;
        width: 100%;
        li {
          font: 22px lato_regular;
          color: $main_blue;
          float: left;
          text-transform: uppercase;
          &:nth-child(2) {
            margin-left: 30px;
            padding-left: 30px;
            border-left: 2px solid $main_blue;
          }
          a {
            color: $main_blue;
          }
        }
      }
    }
    .object_info {
      padding-right: 30px;
      text-align: right;
      .object_id {
        font: 0.938rem lato_regular;
        color: $main_blue;
        margin: 30px 0 20px;
      }
      .btn {
        height: 60px;
        line-height: 60px;
        padding: 0 15px;
        width: 100%;
      }
    }
  }
}

.object_info_section {
  .object_info_container {
    border: 1px solid $border_color;
    padding: 30px;
    ul.properties {
      display: table;
      margin: 0 auto 30px;
      width: 100%;
      li {
        float: left;
        width: 12.5%;
        //margin-right: 20px;
        text-align: center;
        &:last-child {
          margin: 0;
        }
        i {
          font-size: 2.5rem;
          display: block;
          color: $main_blue;
          margin-bottom: 20px;
        }
        .prop_val {
          font-size: 1rem;
          span {
            font-family: lato_regular;
            color: $main_blue;
          }
        }
      }
    }
    ul.nav {
      max-width: 700px;
      margin: 40px auto 40px;
      border: none;
      li.nav-item {
        border: 2px solid #2c314f;
        width: 33.33333%;
        &:nth-child(2) {
          border-left: none;
          border-right: none;
        }
        a.nav-link {
          max-width: 350px;
          font-size: 1.250rem;
        }
      }
    }
    ul.object_prop_list {
      display: table;
      width: 100%;
      li {
        width: 25%;
        float: left;
        font-size: 1rem;
        margin-bottom: 30px;
        color: $main_blue;
        span {
          color: $text_main_gray;
        }
        &:before {
          content: '';
          display: inline-block;
          border: 3px solid $main_blue;
          @include my_border_radius(50%);
          margin: 4px 5px 4px 0;
        }
        &.empty {
          opacity: 0.5;
        }
      }
    }
    .details_block_title {
      margin: 40px auto 40px;
      display: table;
      background: $main_blue;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.250rem;
      line-height: 46px;
      padding: 0 30px;
      span {
        color: white;
      }
    }
  }
}

.gallery_section {
  margin: 0;
}

#details_commercial {
  .object_info_section {
    .object_info_container {
      ul.properties {
        width: auto;
        min-width: 400px;
        li {
          width: 33.3333%;
        }
      }
    }
  }
}

#details_promotions {
  .object_info_section.promotions {
    .object_info_container {
      padding: 30px 0 0;
      ul.properties {
        &.general_properties {
          padding-left: 50px;
        }
        li {
          width: 14.28%;
          i.icn {
            font-size: 4rem;
          }
        }
      }
      .accordion {
        .card {
          .card-block {
            .gallery_container {
              margin-bottom: 50px;
              .gallery_view {
                .object_title {
                  padding: 0 15px;
                  h2 {
                    font-size: 1.875rem;
                  }
                  h3 {
                    font-size: 1rem;
                  }
                  .object_price {
                    font-size: 1.125rem;
                  }
                }
                .gallery.slick-slider .slick-arrow {
                  font-size: 1.875rem;
                  &.slick-prev {
                    left: 20px;
                  }
                  &.slick-next {
                    right: 20px;
                  }
                }
              }
              .agent_info_container {
                .object_info {
                  button.btn {
                    width: 100%;
                    line-height: 60px;
                    height: 60px;
                  }
                  p.object_id {
                    margin-top: 10px;
                    font: 0.938rem lato_regular;
                    color: $main_blue;
                  }
                }
                .agent_info {
                  margin-top: 23px;
                  padding: 30px;
                  border: 1px solid $border_color;
                  p {
                    font-size: 1.125rem;
                    &.agent_name {
                      font: 1.375rem lato_regular;
                      color: $main_blue;
                      text-transform: uppercase;
                      margin-top: 10px;
                    }
                  }
                  ul {
                    margin-top: 10px;
                    li {
                      color: $main_blue;
                      font: 1.375rem lato_regular;
                      line-height: 1.375rem;
                      margin-bottom: 10px;
                      text-transform: uppercase;
                      &:last-of-type {
                        margin-bottom: 0;
                      }
                      a {
                        color: $main_blue;
                      }
                    }
                  }
                }
              }
              .gallery_nav {
                margin: 0 -10px;
              }
            }
          }
        }
      }

    }
  }
}
footer {
  section {
    margin: 0;
  }
}