.map_container {
  position: relative; }
  .map_container #object_map {
    visibility: visible;
    height: 600px;
    width: 100%; }
  .map_container .map_sidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 60px 30px 30px; }
    .map_container .map_sidebar ul li {
      margin-bottom: 20px;
      display: table;
      width: 100%; }
      .map_container .map_sidebar ul li:last-of-type {
        margin-bottom: 0; }
      .map_container .map_sidebar ul li.map_banks .my_checkbox label .my_checkbox_text {
        color: #424f89; }
      .map_container .map_sidebar ul li.map_bakeries .my_checkbox label .my_checkbox_text {
        color: #2989a5; }
      .map_container .map_sidebar ul li.map_cafes .my_checkbox label .my_checkbox_text {
        color: #0295c4; }
      .map_container .map_sidebar ul li.map_dentists .my_checkbox label .my_checkbox_text {
        color: #475c56; }
      .map_container .map_sidebar ul li.map_schools .my_checkbox label .my_checkbox_text {
        color: #477664; }
      .map_container .map_sidebar ul li.map_hospitals .my_checkbox label .my_checkbox_text {
        color: #1ba570; }
      .map_container .map_sidebar ul li.map_dostors .my_checkbox label .my_checkbox_text {
        color: #1ba570; }
      .map_container .map_sidebar ul li.map_parkings .my_checkbox label .my_checkbox_text {
        color: #fcba26; }
      .map_container .map_sidebar ul li.map_pharmacies .my_checkbox label .my_checkbox_text {
        color: #f36326; }
      .map_container .map_sidebar ul li.map_police .my_checkbox label .my_checkbox_text {
        color: #f36326; }
      .map_container .map_sidebar ul li.map_post_offices .my_checkbox label .my_checkbox_text {
        color: #e5232b; }
      .map_container .map_sidebar ul li.map_restaurants .my_checkbox label .my_checkbox_text {
        color: #f25c8e; }
      .map_container .map_sidebar ul li.map_gas_stations .my_checkbox label .my_checkbox_text {
        color: #ff78ce; }
      .map_container .map_sidebar ul li.map_universities .my_checkbox label .my_checkbox_text {
        color: #d462fa; }
      .map_container .map_sidebar ul li .my_checkbox label .my_checkbox_text {
        font-family: lato_bold; }
        .map_container .map_sidebar ul li .my_checkbox label .my_checkbox_text .icn {
          display: block;
          width: 30px;
          text-align: center;
          float: left; }

nav.navbar {
  border-bottom: none; }

section {
  margin-top: 25px; }
  section h1 {
    font: 1.375rem lato_regular;
    text-align: left;
    margin-bottom: 15px; }

.contact_section a.back_link {
  font-size: 1rem; }
  .contact_section a.back_link i {
    font-size: 0.750rem; }
  .contact_section a.back_link:hover {
    color: #2c314f; }
.contact_section .agent_info_container {
  border: 1px solid #cccccc;
  margin-top: 15px; }
  .contact_section .agent_info_container .agent_img {
    overflow: hidden; }
    .contact_section .agent_info_container .agent_img img {
      display: block;
      height: 100%;
      float: right; }
  .contact_section .agent_info_container .agent_info {
    padding: 30px 0 30px; }
    .contact_section .agent_info_container .agent_info p {
      font-size: 18px; }
    .contact_section .agent_info_container .agent_info .agent_name {
      margin: 15px 0 5px;
      font: 30px lato_bold;
      text-transform: uppercase;
      color: #2c314f; }
    .contact_section .agent_info_container .agent_info ul {
      display: table;
      width: 100%; }
      .contact_section .agent_info_container .agent_info ul li {
        font: 22px lato_regular;
        color: #2c314f;
        float: left;
        text-transform: uppercase; }
        .contact_section .agent_info_container .agent_info ul li:nth-child(2) {
          margin-left: 30px;
          padding-left: 30px;
          border-left: 2px solid #2c314f; }
        .contact_section .agent_info_container .agent_info ul li a {
          color: #2c314f; }
  .contact_section .agent_info_container .object_info {
    padding-right: 30px;
    text-align: right; }
    .contact_section .agent_info_container .object_info .object_id {
      font: 0.938rem lato_regular;
      color: #2c314f;
      margin: 30px 0 20px; }
    .contact_section .agent_info_container .object_info .btn {
      height: 60px;
      line-height: 60px;
      padding: 0 15px;
      width: 100%; }

.object_info_section .object_info_container {
  border: 1px solid #cccccc;
  padding: 30px; }
  .object_info_section .object_info_container ul.properties {
    display: table;
    margin: 0 auto 30px;
    width: 100%; }
    .object_info_section .object_info_container ul.properties li {
      float: left;
      width: 12.5%;
      text-align: center; }
      .object_info_section .object_info_container ul.properties li:last-child {
        margin: 0; }
      .object_info_section .object_info_container ul.properties li i {
        font-size: 2.5rem;
        display: block;
        color: #2c314f;
        margin-bottom: 20px; }
      .object_info_section .object_info_container ul.properties li .prop_val {
        font-size: 1rem; }
        .object_info_section .object_info_container ul.properties li .prop_val span {
          font-family: lato_regular;
          color: #2c314f; }
  .object_info_section .object_info_container ul.nav {
    max-width: 700px;
    margin: 40px auto 40px;
    border: none; }
    .object_info_section .object_info_container ul.nav li.nav-item {
      border: 2px solid #2c314f;
      width: 33.33333%; }
      .object_info_section .object_info_container ul.nav li.nav-item:nth-child(2) {
        border-left: none;
        border-right: none; }
      .object_info_section .object_info_container ul.nav li.nav-item a.nav-link {
        max-width: 350px;
        font-size: 1.250rem; }
  .object_info_section .object_info_container ul.object_prop_list {
    display: table;
    width: 100%; }
    .object_info_section .object_info_container ul.object_prop_list li {
      width: 25%;
      float: left;
      font-size: 1rem;
      margin-bottom: 30px;
      color: #2c314f; }
      .object_info_section .object_info_container ul.object_prop_list li span {
        color: #888888; }
      .object_info_section .object_info_container ul.object_prop_list li:before {
        content: '';
        display: inline-block;
        border: 3px solid #2c314f;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 4px 5px 4px 0; }
      .object_info_section .object_info_container ul.object_prop_list li.empty {
        opacity: 0.5; }
  .object_info_section .object_info_container .details_block_title {
    margin: 40px auto 40px;
    display: table;
    background: #2c314f;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.250rem;
    line-height: 46px;
    padding: 0 30px; }
    .object_info_section .object_info_container .details_block_title span {
      color: white; }

.gallery_section {
  margin: 0; }

#details_commercial .object_info_section .object_info_container ul.properties {
  width: auto;
  min-width: 400px; }
  #details_commercial .object_info_section .object_info_container ul.properties li {
    width: 33.3333%; }

#details_promotions .object_info_section.promotions .object_info_container {
  padding: 0; }
  #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties {
    background: #2c314f;
    margin: 0;
    padding: 30px 0 30px 50px; }
    #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties li {
      width: 10%;
      color: white; }
      #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties li .prop_val {
        font-size: 1.125rem; }
  #details_promotions .object_info_section.promotions .object_info_container ul.properties li {
    width: 14.28%; }
    #details_promotions .object_info_section.promotions .object_info_container ul.properties li i.icn {
      font-size: 4rem; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container {
    margin-bottom: 50px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title {
      padding: 0 15px; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title h2 {
        font-size: 1.875rem; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title h3 {
        font-size: 1rem; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title .object_price {
        font-size: 1.125rem; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .gallery.slick-slider .slick-arrow {
      font-size: 1.875rem; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-prev {
        left: 20px; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-next {
        right: 20px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .object_info button.btn {
      width: 100%;
      line-height: 60px;
      height: 60px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .object_info p.object_id {
      margin-top: 10px;
      font: 0.938rem lato_regular;
      color: #2c314f; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info {
      margin-top: 23px;
      padding: 30px;
      border: 1px solid #cccccc; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info p {
        font-size: 1.125rem; }
        #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info p.agent_name {
          font: 1.375rem lato_regular;
          color: #2c314f;
          text-transform: uppercase;
          margin-top: 10px; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info ul {
        margin-top: 10px; }
        #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info ul li {
          color: #2c314f;
          font: 1.375rem lato_regular;
          line-height: 1.375rem;
          margin-bottom: 10px;
          text-transform: uppercase; }
          #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info ul li:last-of-type {
            margin-bottom: 0; }
          #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info ul li a {
            color: #2c314f; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_nav {
      margin: 0 -10px; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block ul.nav.nav-tabs .nav-item {
    width: 50%; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block ul.nav.nav-tabs .nav-item:nth-child(2) {
      border-right: 2px solid #2c314f; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .tab-content ul.object_prop_list li {
    margin-bottom: 15px;
    font-size: 1.125rem;
    color: #888888; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .tab-content ul.object_prop_list li::before {
      display: none; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .tab-content .object_description p {
    margin-bottom: 10px; }

footer section {
  margin: 0; }

/*# sourceMappingURL=details.css.map */
