html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* BEGIN Light*/
@font-face {
  font-family: 'lato_light';
  src: url("../fonts/lato/light/lato_light.eot");
  src: url("../fonts/lato/light/lato_light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/light/lato_light.woff") format("woff"), url("../fonts/lato/light/lato_light.ttf") format("truetype"), url("../fonts/lato/light/lato_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Light*/
/* BEGIN Regular*/
@font-face {
  font-family: 'lato_regular';
  src: url("../fonts/lato/regular/lato_regular.eot");
  src: url("../fonts/lato/regular/lato_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/regular/lato_regular.woff") format("woff"), url("../fonts/lato/regular/lato_regular.ttf") format("truetype"), url("../fonts/lato/regular/lato_regular.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Regular*/
/* BEGIN Bold*/
@font-face {
  font-family: 'lato_bold';
  src: url("../fonts/lato/bold/lato_bold.eot");
  src: url("../fonts/lato/bold/lato_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato/bold/lato_bold.woff") format("woff"), url("../fonts/lato/bold/lato_bold.ttf") format("truetype"), url("../fonts/lato/bold/lato_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
/* END Bold*/
@font-face {
  font-family: 'helvetica_neue_light';
  src: url("../fonts/helvetica_neue_light/helvetica_neue_light.eot");
  src: url("../fonts/helvetica_neue_light/helvetica_neue_light.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica_neue_light/helvetica_neue_light.woff") format("woff"), url("../fonts/helvetica_neue_light/helvetica_neue_light.ttf") format("truetype"), url("../fonts/helvetica_neue_light/helvetica_neue_light.svg") format("svg");
  font-weight: 100;
  font-style: normal; }
/*Buttons style START*/
.btn:not(.dropdown-toggle) {
  height: 40px;
  padding: 0 45px;
  font: 20px lato_regular;
  line-height: 40px;
  border-radius: 0;
  background: transparent;
  position: relative;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  z-index: 1;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn.light {
  color: #ffffff;
  border-color: #ffffff; }

.btn.dark_inverse {
  color: #2c314f;
  border-color: #2c314f; }

.btn.dark {
  color: white;
  border-color: #2c314f;
  background-color: #2c314f; }

.btn:not(.dropdown-toggle):before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  top: -100%;
  z-index: -1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.btn.light:before,
.btn.dark:before {
  background-color: white; }

.btn.dark_inverse:before {
  background-color: #2c314f; }

.btn.light:hover,
.btn.dark:hover {
  color: #2c314f; }

.btn.dark_inverse:hover {
  color: white; }

.btn:not(.dropdown-toggle):hover:before {
  top: 0;
  left: 0; }

.btn.disabled {
  opacity: 0.5; }

/*Buttons style END*/
.input_container {
  position: relative;
  background-color: white; }
  .input_container input {
    color: #2c314f; }
  .input_container button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 38px;
    width: 38px;
    border: none;
    background-color: white; }
  .input_container .input_label {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 60px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase; }

.input_container.dark button {
  color: white;
  background-color: #2c314f; }
.input_container.dark .input_label {
  color: white;
  background-color: #2c314f; }

.input_container.light button {
  color: #2c314f;
  background-color: #ffffff;
  border-left: 1px solid #cccccc; }
.input_container.light .input_label {
  color: #2c314f;
  background-color: white;
  border-left: 1px solid #cccccc; }

input,
textarea {
  border: 1px solid #cccccc;
  padding: 0 12px;
  width: 100%;
  background-color: transparent;
  color: #888888; }

input {
  height: 40px; }

textarea {
  height: 150px;
  padding: 12px;
  resize: none; }

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #cccccc !important; }

sup {
  font-size: 0.750em; }

label.form_el_label {
  font: 14px lato_regular;
  text-transform: uppercase;
  margin-bottom: 10px; }
  label.form_el_label i.icn {
    font-size: 18px;
    margin-right: 5px;
    float: left; }
  label.form_el_label span {
    line-height: 18px; }

label.form_el_label.dark {
  color: #2c314f; }
  label.form_el_label.dark i.icn {
    color: #2c314f; }

label.form_el_label.light {
  color: white; }
  label.form_el_label.light i.icn {
    color: white; }

/*Checkboxes styles START*/
.my_checkbox {
  float: left;
  min-height: 0; }
  .my_checkbox label {
    display: block;
    padding: 0 !important;
    position: relative;
    margin: 0; }
    .my_checkbox label input[type=checkbox] {
      display: none; }
    .my_checkbox label input[type="checkbox"] + span.fake_checkbox {
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      border: 1px solid #cccccc;
      background: white;
      cursor: pointer; }
    .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox {
      background-position: 0 0;
      border-color: #2c314f; }
      .my_checkbox label input[type="checkbox"]:checked + span.fake_checkbox:before {
        content: "\e922";
        font-family: icomoon;
        color: #2c314f;
        font-size: 10px; }
    .my_checkbox label .my_checkbox_text {
      font-size: 16px;
      margin: 0 0 0 25px;
      line-height: 20px;
      display: inline-block;
      color: #888888; }
    .my_checkbox label .my_checkbox_text a {
      color: #f94c3f; }
    .my_checkbox label .my_checkbox_text a:hover {
      color: #f94c3f; }

/*Checkboxes styles END*/
ul.nav.nav-tabs {
  border: 2px solid #2c314f; }
  ul.nav.nav-tabs li.nav-item {
    width: 50%;
    margin: 0 !important;
    text-align: center; }
    ul.nav.nav-tabs li.nav-item a.nav-link {
      line-height: 46px;
      padding: 0;
      font-size: 1.250rem;
      text-transform: uppercase;
      border: none;
      color: #2c314f;
      font-family: lato_regular, Raleway, sans-serif; }
  ul.nav.nav-tabs .nav-item.active {
    background-color: #2c314f; }
    ul.nav.nav-tabs .nav-item.active a.nav-link {
      color: #ffffff;
      font-family: lato_light, Raleway, sans-serif; }

/*Accordion styles START*/
.accordion .card {
  border: none;
  border-top: 1px solid #cccccc;
  border-radius: 0;
  margin: 0; }
  .accordion .card .card-header {
    background: transparent;
    padding: 0;
    border: none;
    border-radius: 0; }
    .accordion .card .card-header a {
      padding: 0 0 0 50px;
      display: table;
      width: 100%; }
      .accordion .card .card-header a i.icn {
        position: absolute;
        left: 20px;
        top: 18px;
        font-size: 0.875rem; }
      .accordion .card .card-header a[aria-expanded=true] i.icn::before {
        content: "\e903"; }
      .accordion .card .card-header a:focus, .accordion .card .card-header a:hover, .accordion .card .card-header a:visited {
        color: #888888 !important; }
      .accordion .card .card-header a ul {
        padding: 17px 0;
        display: table;
        width: 100%; }
        .accordion .card .card-header a ul li {
          float: left;
          width: 10%;
          text-align: center;
          font: 1rem lato_regular;
          line-height: 1rem; }
  .accordion .card .card-block {
    padding: 30px;
    border-top: 1px solid #cccccc; }
  .accordion .card.reserved .card-header {
    background: #e5e5e5; }

/*Accordion styles END*/
/*Select2 styles START*/
.select2 {
  width: 100% !important;
  background-color: #ffffff; }

.select2-container--default .select2-selection--single {
  background-color: transparent;
  height: 40px;
  border-color: #cccccc;
  border-radius: 0;
  outline: none; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder,
  .select2-container--default .select2-selection--single .select_template_placeholder {
    color: #888888;
    opacity: 0.4; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #888888;
    line-height: 40px;
    padding-right: 20px;
    padding-left: 15px;
    font-size: 16px; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    width: 11px;
    top: 0;
    right: 10px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border: none;
      margin-left: 0;
      margin-top: -2px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b:before,
    .select2-container--default .select2-selection--single .select2-selection__arrow b:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #cccccc;
      border-width: 5px;
      margin-left: -5px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #cccccc;
      border-width: 4px;
      margin-left: -4px; }
.select2-container--default .select2-dropdown {
  background-color: #ffffff;
  border: 1px solid #2c314f;
  border-radius: 0; }
  .select2-container--default .select2-dropdown .select2-search {
    display: none; }
  .select2-container--default .select2-dropdown .select2-results {
    max-height: 223px; }
    .select2-container--default .select2-dropdown .select2-results .select2-results__options {
      padding: 10px 0;
      max-height: 100% !important; }
      .select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option {
        color: #888888;
        padding: 7px 15px 6px;
        display: table;
        width: 100%;
        font-size: 16px; }
        .select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option span {
          vertical-align: middle;
          padding-left: 10px;
          padding-top: 5px;
          line-height: 20px;
          display: block;
          float: left; }
      .select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected=true],
      .select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted[aria-selected] {
        background-color: transparent;
        color: #2c314f; }
        .select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option[aria-selected=true] img,
        .select2-container--default .select2-dropdown .select2-results .select2-results__options .select2-results__option--highlighted[aria-selected] img {
          opacity: 1; }
.select2-container--default .select2-dropdown.select2-dropdown--below {
  top: -1px; }
.select2-container--default .select2-dropdown.select2-dropdown--above {
  top: 1px; }

.select2-container--default.select2-container--open .select2-selection--single {
  border-color: #2c314f; }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border: none;
    margin-left: 0;
    margin-top: 2px; }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before,
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:after {
    top: initial;
    bottom: 100%; }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    border-bottom-color: #2c314f;
    border-top-color: transparent; }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:after {
    border-bottom-color: #2c314f;
    border-top-color: transparent; }

/*Select2 styles END*/
/*Bootstrap select START*/
.multiselect-native-select .btn-group {
  width: 100%; }
  .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    font-family: inherit;
    text-transform: initial;
    color: #888888;
    border: 1px solid #cccccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 38px;
    background-color: white;
    outline-offset: 0;
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
      position: absolute;
      top: 18px;
      right: 15px;
      left: initial;
      pointer-events: none;
      border-top-color: #cccccc;
      border-width: 5px;
      margin: 0; }
  .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
    border: 1px solid #2c314f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #888888;
    background-color: white;
    width: 100%; }
    .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li {
      padding: 5px; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a {
        display: block;
        width: 100%;
        outline: none;
        color: #888888; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a:hover {
          color: #2c314f; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label {
          width: 100%;
          position: relative;
          padding: 0; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label input {
            display: none; }
          .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox {
            padding-left: 20px; }
            .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li a label.checkbox:before {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              font-family: 'icomoon' !important;
              content: "\e92a";
              speak: none;
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              font-size: 1rem; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a {
        color: #2c314f; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.active a label.checkbox:before {
          content: "\e92b"; }
      .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item {
        border-bottom: 1px solid #cccccc; }
        .multiselect-native-select .btn-group .multiselect-container.dropdown-menu li.multiselect-item a label {
          font-weight: normal; }
  .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle {
    border-color: #2c314f !important; }
    .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle::after {
      top: 17px;
      border-top-color: #2c314f;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }

.btn-group.bootstrap-select {
  width: 100%;
  font-size: 1rem;
  outline: none; }
  .btn-group.bootstrap-select .dropdown-toggle {
    padding: 0 30px 0 10px;
    font-size: 1rem;
    text-transform: initial;
    color: #888888;
    border: 1px solid #cccccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 38px;
    background-color: white;
    outline-offset: 0; }
    .btn-group.bootstrap-select .dropdown-toggle::after {
      top: 20px;
      right: 15px;
      left: initial;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-top-color: #cccccc;
      border-width: 5px;
      margin: 0; }
    .btn-group.bootstrap-select .dropdown-toggle span.filter-option {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .btn-group.bootstrap-select .dropdown-toggle .bs-caret {
      display: none; }
    .btn-group.bootstrap-select .dropdown-toggle:focus, .btn-group.bootstrap-select .dropdown-toggle:active {
      outline: none !important; }
  .btn-group.bootstrap-select .dropdown-menu.open {
    border: 1px solid #2c314f;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    border-top: none;
    padding: 5px;
    color: #888888;
    background-color: white; }
    .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner {
      display: table; }
      .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li {
        padding: 5px; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a {
          display: block;
          width: 100%;
          outline: none; }
          .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
            color: #2c314f; }
        .btn-group.bootstrap-select .dropdown-menu.open ul.dropdown-menu.inner li.selected a {
          color: #2c314f; }
  .btn-group.bootstrap-select.dropup .dropdown-menu.open {
    border-bottom: none;
    border-top: 1px solid #2c314f; }
  .btn-group.bootstrap-select.open .dropdown-toggle {
    border: 1px solid #2c314f !important; }
    .btn-group.bootstrap-select.open .dropdown-toggle::after {
      top: 13px;
      border-top-color: #2c314f;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
  .btn-group.bootstrap-select.open .dropdown-menu.open {
    display: table; }
    .btn-group.bootstrap-select.open .dropdown-menu.open .bs-actionsbox button {
      font-size: 10px;
      padding: 0; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li:first-child {
    border-bottom: 1px solid #e5e5e5; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a {
    display: block;
    width: 100%;
    outline: none;
    padding-left: 20px;
    position: relative; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a:hover {
      color: #2c314f; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check {
      margin: 0; }
    .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      margin: 0 10px 0 0;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1rem;
      float: left; }
      .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li a span.check-mark:before {
        content: "\e92a"; }
  .btn-group.bootstrap-select.show-tick .dropdown-menu.open ul.dropdown-menu.inner li.selected a span.check-mark:before {
    content: "\e92b"; }

/*Bootstrap select END*/
body {
  color: #888888;
  font-family: lato_light, Raleway, sans-serif; }

main {
  padding-bottom: 60px; }

a {
  color: #888888; }

a:hover {
  text-decoration: none;
  color: #888888; }

h1 {
  font: 1.375rem lato_regular;
  text-align: center;
  text-transform: uppercase;
  color: #2c314f; }

.container-fluid {
  max-width: 1200px; }

.margin_top_10 {
  margin-top: 10px; }

.margin_top_15 {
  margin-top: 15px; }

.margin_top_20 {
  margin-top: 20px; }

.margin_top_30 {
  margin-top: 30px; }

.margin_bottom_10 {
  margin-bottom: 10px; }

.margin_bottom_15 {
  margin-bottom: 15px; }

.margin_bottom_20 {
  margin-bottom: 20px; }

.margin_bottom_30 {
  margin-bottom: 30px; }

.gold {
  color: #d3c070; }

header {
  background-color: #2c314f;
  padding: 32px 0; }
  header .multiselect-native-select .btn-group {
    width: auto; }
    header .multiselect-native-select .btn-group .multiselect.dropdown-toggle {
      width: auto;
      border: none;
      color: white;
      background-color: transparent; }
      header .multiselect-native-select .btn-group .multiselect.dropdown-toggle::after {
        border-top-color: white; }
    header .multiselect-native-select .btn-group .multiselect-container.dropdown-menu {
      width: auto;
      min-width: 0; }
    header .multiselect-native-select .btn-group.open .multiselect.dropdown-toggle::after {
      border-top-color: white; }
  header .logo_container {
    text-align: center; }
    header .logo_container img {
      max-width: 400px;
      width: 100%; }
  header .contact_info_container {
    text-align: right; }
    header .contact_info_container a {
      display: block;
      color: #ffffff;
      text-decoration: none; }

.navbar {
  position: relative;
  min-width: 250px;
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #cccccc; }
  .navbar ul.nav li.nav-item a.nav-link {
    display: block;
    padding: 0 15px;
    line-height: 60px;
    background: #fff;
    font-size: 15px;
    color: #2c314f;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap; }
    .navbar ul.nav li.nav-item a.nav-link:hover {
      color: white;
      background-color: #2c314f; }
  .navbar ul.nav li.nav-item.active a {
    background-color: #2c314f;
    color: white; }
  .navbar ul.nav li.nav-item .dropdown-menu {
    padding: 25px 70px;
    background: #2c314f;
    margin: 0;
    border-radius: 0;
    left: -140px;
    text-align: center;
    border: none; }
    .navbar ul.nav li.nav-item .dropdown-menu .dropdown-item {
      font-size: 15px;
      color: #ffffff;
      text-transform: uppercase;
      padding: 10px 20px; }
      .navbar ul.nav li.nav-item .dropdown-menu .dropdown-item:hover, .navbar ul.nav li.nav-item .dropdown-menu .dropdown-item.active {
        color: #2c314f;
        background-color: #ffffff; }
  .navbar ul.nav li.nav-item.dropdown:hover a.nav-link {
    background-color: #2c314f;
    color: white; }
  .navbar ul.nav li.nav-item.dropdown:hover a.nav-link:visited {
    color: #ffffff; }
  .navbar ul.nav li.nav-item.dropdown:hover .dropdown-menu {
    display: block; }
  .navbar button {
    position: absolute;
    height: 100%;
    right: 0;
    padding: 0 15px 0 20px;
    border: 0;
    outline: none;
    background-color: #2c314f;
    color: #fff;
    cursor: pointer; }
    .navbar button:hover {
      background-color: rgba(44, 49, 79, 0.7); }
    .navbar button::after {
      content: attr(count);
      position: absolute;
      width: 30px;
      height: 30px;
      left: -16px;
      top: 12px;
      text-align: center;
      background-color: #2c314f;
      color: #fff;
      font-size: 14px;
      line-height: 24px;
      border-radius: 50%;
      border: 2px solid #fff;
      font-weight: bold;
      z-index: 1; }
    .navbar button:hover::after {
      transform: scale(1.075); }
    .navbar button .hamburger {
      position: relative;
      width: 25px;
      height: 3px;
      background: #fff;
      margin: auto;
      display: block; }
      .navbar button .hamburger:before, .navbar button .hamburger:after {
        content: '';
        position: absolute;
        left: 0;
        width: 25px;
        height: 3px;
        background: #fff; }
      .navbar button .hamburger:before {
        top: -8px; }
      .navbar button .hamburger:after {
        bottom: -8px; }
  .navbar ul.nav.visible-links {
    display: inline-table; }
    .navbar ul.nav.visible-links li {
      display: table-cell; }
  .navbar ul.nav.hidden-links {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    border: 1px solid #cccccc;
    border-top: none;
    z-index: 9; }
    .navbar ul.nav.hidden-links li.nav-item {
      border-top: 1px solid #cccccc; }
      .navbar ul.nav.hidden-links li.nav-item a.nav-link {
        text-align: right; }
      .navbar ul.nav.hidden-links li.nav-item .dropdown-menu {
        left: initial;
        right: 100%;
        top: -50%; }
  .navbar .hidden {
    visibility: hidden; }

.search_block .row {
  margin-right: -5px;
  margin-left: -5px; }
  .search_block .row > div {
    padding-right: 5px;
    padding-left: 5px; }
  .search_block .row label.form_el_label {
    display: table;
    margin: 0 auto 12px; }

.search_section {
  padding: 50px 0;
  border-bottom: 1px solid #cccccc; }
  .search_section .search_block {
    background-color: #2c314f;
    padding: 25px 40px 20px; }

.gallery_container .gallery_view {
  position: relative; }
  .gallery_container .gallery_view .gallery.slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -27px;
    color: white;
    font-size: 55px;
    background: transparent;
    border: none;
    z-index: 99; }
    .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-prev {
      left: 50px; }
    .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-next {
      right: 50px; }
  .gallery_container .gallery_view .gallery.slick-slider .slick-list .slick-track .slick-slide {
    max-height: 620px;
    overflow: hidden; }
    .gallery_container .gallery_view .gallery.slick-slider .slick-list .slick-track .slick-slide img {
      width: 100%; }
  .gallery_container .gallery_view .object_title {
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: white;
    text-transform: uppercase;
    z-index: 1; }
    .gallery_container .gallery_view .object_title h2 {
      font: 3.125rem lato_regular; }
    .gallery_container .gallery_view .object_title h3 {
      font: 1.375rem lato_regular; }
    .gallery_container .gallery_view .object_title .object_price_label {
      text-align: center;
      display: block;
      margin-bottom: 10px;
      margin-top: 15px;
      text-transform: none;
      font-size: 1.125rem; }
    .gallery_container .gallery_view .object_title .object_price {
      background: #d3c070;
      color: white;
      font: 1.563rem lato_regular;
      text-align: center;
      padding: 13px 5px 12px; }
.gallery_container .gallery_nav .gallery_thumbnails.slick-slider {
  margin-top: 20px; }
  .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide {
    padding: 0 10px;
    cursor: pointer; }
    .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide img {
      width: 100%;
      -webkit-box-shadow: inset 10px 10px 300px 200px rgba(44, 49, 79, 0.5);
      -moz-box-shadow: inset 10px 10px 300px 200px rgba(44, 49, 79, 0.5);
      box-shadow: inset 10px 10px 300px 200px rgba(44, 49, 79, 0.5); }

#details_commercial .gallery_section .gallery_container .gallery_view .object_title h2 {
  margin-top: 50px; }

.contact_form_section form {
  padding: 30px 30px 10px 30px;
  border: 1px solid #cccccc; }
  .contact_form_section form .my_checkbox {
    position: absolute;
    bottom: -30px;
    z-index: 1; }
  .contact_form_section form span.required_fields {
    display: block;
    margin-top: 40px; }
  .contact_form_section form button.btn[type="submit"] {
    width: 100%; }

.categories_section {
  margin-top: 40px; }
  .categories_section a.category {
    display: block;
    position: relative;
    height: 185px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; }
    .categories_section a.category img {
      width: 100%; }
    .categories_section a.category .gradient_bottom {
      background: -webkit-linear-gradient(transparent, rgba(211, 192, 112, 0.8));
      background: -moz-linear-gradient(transparent, rgba(211, 192, 112, 0.8));
      background: -o-linear-gradient(transparent, rgba(211, 192, 112, 0.8));
      background: linear-gradient(transparent, rgba(211, 192, 112, 0.8));
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .categories_section a.category .category_title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 185px;
      text-align: center;
      display: table;
      z-index: 1; }
      .categories_section a.category .category_title span {
        font: 35px lato_bold;
        color: #ffffff;
        text-transform: uppercase;
        display: table-cell;
        vertical-align: middle; }
  .categories_section a:hover .gradient_bottom {
    height: 80%; }
  .categories_section a.sell_category {
    background-image: url("../img/category1.jpg"); }
  .categories_section a.rent_category {
    background-image: url("../img/category2.jpg");
    margin-top: 30px; }
  .categories_section a.agency_category {
    background-image: url("../img/category5.jpg");
    height: 400px; }
    .categories_section a.agency_category .category_title {
      height: 400px; }
  .categories_section a.commercial_category {
    background-image: url("../img/category3.jpg"); }
  .categories_section a.promo_category {
    background-image: url("../img/category4.jpg");
    margin-top: 30px; }

.gradient_bottom,
.gradient_left,
.gradient_right {
  position: absolute; }

.gradient_bottom {
  bottom: 0;
  height: 30%;
  width: 100%;
  background: -webkit-linear-gradient(transparent, rgba(20, 22, 36, 0.7));
  background: -moz-linear-gradient(transparent, rgba(20, 22, 36, 0.7));
  background: -o-linear-gradient(transparent, rgba(20, 22, 36, 0.7));
  background: linear-gradient(transparent, rgba(20, 22, 36, 0.7)); }

.gradient_left,
.gradient_right {
  height: 100%;
  width: 25%;
  top: 0; }

.gradient_left {
  left: 0;
  background: -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(right, transparent, rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(right, transparent, rgba(0, 0, 0, 0.3));
  background: linear-gradient(right, transparent, rgba(0, 0, 0, 0.3)); }

.gradient_right {
  right: 0;
  background: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.3));
  background: linear-gradient(left, transparent, rgba(0, 0, 0, 0.3)); }

#commercial h1,
#press_list h1 {
  margin: 30px 0 20px; }
#commercial .object_block_container,
#press_list .object_block_container {
  margin-bottom: 30px; }
  #commercial .object_block_container .object_block,
  #press_list .object_block_container .object_block {
    display: block;
    position: relative; }
    #commercial .object_block_container .object_block .img_block img,
    #press_list .object_block_container .object_block .img_block img {
      width: 100%;
      display: block; }
    #commercial .object_block_container .object_block .info_block,
    #press_list .object_block_container .object_block .info_block {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      overflow: hidden;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
      #commercial .object_block_container .object_block .info_block .properties_container,
      #press_list .object_block_container .object_block .info_block .properties_container {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        position: absolute;
        top: 30%;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 35% 15px 15px;
        color: white; }
        #commercial .object_block_container .object_block .info_block .properties_container h2,
        #press_list .object_block_container .object_block .info_block .properties_container h2 {
          font-size: 1.5625rem; }
        #commercial .object_block_container .object_block .info_block .properties_container p,
        #press_list .object_block_container .object_block .info_block .properties_container p {
          font-size: 1.125rem;
          margin: 10px 45px 100px;
          opacity: 0.5;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
        #commercial .object_block_container .object_block .info_block .properties_container span,
        #press_list .object_block_container .object_block .info_block .properties_container span {
          font-size: 1.375em;
          opacity: 0;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
    #commercial .object_block_container .object_block .gradient_bg,
    #press_list .object_block_container .object_block .gradient_bg {
      position: absolute;
      height: 40%;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
      background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
      background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.7));
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)); }
    #commercial .object_block_container .object_block:hover .info_block,
    #press_list .object_block_container .object_block:hover .info_block {
      background: rgba(44, 49, 79, 0.8); }
      #commercial .object_block_container .object_block:hover .info_block .properties_container,
      #press_list .object_block_container .object_block:hover .info_block .properties_container {
        top: 0; }
        #commercial .object_block_container .object_block:hover .info_block .properties_container span,
        #press_list .object_block_container .object_block:hover .info_block .properties_container span {
          opacity: 1; }

#commercial .comercial_funds_section .object_block_container .object_block .info_block .properties_container {
  top: 40%; }
  #commercial .comercial_funds_section .object_block_container .object_block .info_block .properties_container h2 {
    text-transform: uppercase;
    font-size: 1.875rem; }
  #commercial .comercial_funds_section .object_block_container .object_block .info_block .properties_container p {
    opacity: 0; }
#commercial .comercial_funds_section .object_block_container .object_block:hover .info_block .properties_container {
  top: 0; }
  #commercial .comercial_funds_section .object_block_container .object_block:hover .info_block .properties_container p {
    opacity: 0.5; }
#commercial .comercial_info_section .comercial_info_block {
  padding: 30px;
  border: 1px solid #cccccc; }
  #commercial .comercial_info_section .comercial_info_block h1 {
    margin-bottom: 30px; }
  #commercial .comercial_info_section .comercial_info_block .accordion .card {
    border: none;
    border-radius: 0;
    margin: 0; }
    #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header {
      background: transparent;
      text-align: center;
      text-transform: uppercase;
      border: none;
      margin: 0;
      padding: 0; }
      #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header .card-title {
        margin: 30px 0 0; }
        #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header .card-title a {
          border-bottom: 1px solid #2c314f;
          padding: 0 10px 10px;
          font: 1rem lato_regular;
          text-decoration: none;
          color: #2c314f;
          display: table;
          width: 100%;
          margin: 0 auto; }
          #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header .card-title a:visited, #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header .card-title a:focus {
            text-decoration: none;
            border-color: #2c314f !important; }
          #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header .card-title a i {
            font-size: 8px;
            margin-left: 5px;
            position: relative;
            top: -2px; }
          #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header .card-title a.collapsed {
            width: auto; }
            #commercial .comercial_info_section .comercial_info_block .accordion .card .card-header .card-title a.collapsed i:before {
              content: "\e906"; }
    #commercial .comercial_info_section .comercial_info_block .accordion .card .collapse .card-block,
    #commercial .comercial_info_section .comercial_info_block .accordion .card .collapsing .card-block {
      padding: 15px 0 0; }
      #commercial .comercial_info_section .comercial_info_block .accordion .card .collapse .card-block p,
      #commercial .comercial_info_section .comercial_info_block .accordion .card .collapsing .card-block p {
        margin-bottom: 20px; }
      #commercial .comercial_info_section .comercial_info_block .accordion .card .collapse .card-block h6,
      #commercial .comercial_info_section .comercial_info_block .accordion .card .collapsing .card-block h6 {
        color: #2c314f;
        margin-bottom: 15px;
        font: 1rem lato_regular; }

#team h1 {
  text-align: left;
  margin: 30px 0 20px; }
#team .object_block_container .object_block {
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #team .object_block_container .object_block .img_block {
    z-index: 3;
    cursor: pointer; }
    #team .object_block_container .object_block .img_block.absolute {
      position: absolute; }
    #team .object_block_container .object_block .img_block img {
      width: 100%; }
    #team .object_block_container .object_block .img_block h2 {
      position: absolute;
      width: 100%;
      text-align: center;
      color: white; }
    #team .object_block_container .object_block .img_block h2 {
      bottom: 30px;
      font-size: 1.875rem; }
    #team .object_block_container .object_block .img_block .gradient_bottom {
      background: -webkit-linear-gradient(transparent, #2c314f);
      background: -moz-linear-gradient(transparent, #2c314f);
      background: -o-linear-gradient(transparent, #2c314f);
      background: linear-gradient(transparent, #2c314f);
      height: 50%; }
  #team .object_block_container .object_block .info_block {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
    background-color: #2c314f;
    color: white;
    padding: 15px 25px 30px;
    opacity: 0;
    line-height: 1rem;
    font-size: 1rem;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #team .object_block_container .object_block .info_block .properties_container {
      padding: 30px 10px;
      margin-bottom: 30px;
      border-top: 1px solid white;
      border-bottom: 1px solid white; }
      #team .object_block_container .object_block .info_block .properties_container ul {
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        opacity: 0;
        margin-top: 35px; }
        #team .object_block_container .object_block .info_block .properties_container ul li {
          margin-bottom: 15px; }
          #team .object_block_container .object_block .info_block .properties_container ul li:last-of-type {
            margin-bottom: 0; }
          #team .object_block_container .object_block .info_block .properties_container ul li a {
            color: white; }
      #team .object_block_container .object_block .info_block .properties_container p {
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        opacity: 0;
        margin: 0 0 20px;
        color: #cccccc;
        font-size: 1.375rem;
        line-height: 1.375rem; }
  #team .object_block_container .object_block.opened {
    cursor: default; }
    #team .object_block_container .object_block.opened .info_block {
      top: 100%;
      opacity: 1;
      z-index: 3; }
      #team .object_block_container .object_block.opened .info_block ul {
        opacity: 1; }
      #team .object_block_container .object_block.opened .info_block p {
        opacity: 1; }

#contact h1 {
  margin: 50px 0 15px;
  text-align: left; }
#contact .contact_form_section p {
  margin-top: 20px;
  text-align: center; }
#contact .representatives_section .object_block_container .representatives_block {
  padding: 10px;
  border: 1px solid #cccccc;
  display: table;
  background: white; }
  #contact .representatives_section .object_block_container .representatives_block h2 {
    padding: 20px 10px;
    margin: 25px;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    background: #d3c070; }
  #contact .representatives_section .object_block_container .representatives_block .representative_container {
    margin-bottom: 30px; }
    #contact .representatives_section .object_block_container .representatives_block .representative_container:last-child {
      margin-bottom: 0; }
    #contact .representatives_section .object_block_container .representatives_block .representative_container .representative {
      display: table; }
      #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .img_block {
        float: left;
        width: 55%;
        position: relative; }
        #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .img_block img {
          width: 100%;
          display: block; }
        #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .img_block .gradient_bottom {
          height: 50%;
          background: -webkit-linear-gradient(transparent, rgba(44, 49, 79, 0.9));
          background: -moz-linear-gradient(transparent, rgba(44, 49, 79, 0.9));
          background: -o-linear-gradient(transparent, rgba(44, 49, 79, 0.9));
          background: linear-gradient(transparent, rgba(44, 49, 79, 0.9)); }
      #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .contact_block {
        float: left;
        width: 45%;
        padding-left: 10px;
        text-align: center;
        color: #2c314f; }
        #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .contact_block .contact_info {
          padding: 20px 0;
          margin-bottom: 20px;
          border-top: 1px solid #2c314f;
          border-bottom: 1px solid #2c314f; }
          #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .contact_block .contact_info h3 {
            font-size: 1.25rem;
            margin-bottom: 20px; }
          #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .contact_block .contact_info span {
            display: block; }
          #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .contact_block .contact_info span:first-of-type {
            margin-bottom: 5px; }
        #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .contact_block button {
          width: 100%;
          padding: 0 10px;
          text-transform: capitalize; }
      #contact .representatives_section .object_block_container .representatives_block .representative_container .representative form.contact_form {
        display: none; }
        #contact .representatives_section .object_block_container .representatives_block .representative_container .representative form.contact_form textarea {
          height: 90px; }
    #contact .representatives_section .object_block_container .representatives_block .representative_container.opened {
      margin-bottom: 0; }
      #contact .representatives_section .object_block_container .representatives_block .representative_container.opened form.contact_form {
        display: block; }
  #contact .representatives_section .object_block_container .representatives_block .close_btn {
    display: none;
    position: absolute;
    right: 0;
    top: -70px;
    z-index: 12;
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 14px;
    font-size: 1.275rem;
    color: white;
    background: transparent; }
  #contact .representatives_section .object_block_container .representatives_block.active {
    position: absolute;
    z-index: 12;
    width: calc(100% - 30px); }
    #contact .representatives_section .object_block_container .representatives_block.active .close_btn {
      display: block; }
#contact .item_active_background {
  display: none;
  background: rgba(44, 49, 79, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10; }
#contact .map_section {
  margin-top: 50px; }
  #contact .map_section .container-fluid {
    position: relative; }
    #contact .map_section .container-fluid #contact_map {
      height: 385px; }
    #contact .map_section .container-fluid .map_info_block {
      display: table;
      position: absolute;
      top: 50px;
      left: 65px;
      background: white;
      z-index: 1;
      padding: 50px; }
      #contact .map_section .container-fluid .map_info_block span {
        font: 1.375rem lato_regular;
        color: #2c314f;
        text-transform: uppercase; }
      #contact .map_section .container-fluid .map_info_block ul {
        margin-top: 25px; }
        #contact .map_section .container-fluid .map_info_block ul li {
          font-size: 1.125rem;
          color: #2c314f;
          margin-bottom: 10px; }
          #contact .map_section .container-fluid .map_info_block ul li:last-of-type {
            margin-bottom: 0; }
          #contact .map_section .container-fluid .map_info_block ul li a {
            color: #2c314f; }

footer .footer_links_list li {
  margin-bottom: 15px; }
  footer .footer_links_list li a {
    font-size: 12px;
    color: #e5e5e5; }
footer .footer_top_section {
  padding: 30px 0 15px;
  background-color: rgba(44, 49, 79, 0.9); }
  footer .footer_top_section h1 {
    text-align: left;
    color: white;
    margin-bottom: 15px; }
footer .footer_bottom_section {
  padding: 60px 0 50px;
  background: #2c314f;
  color: #e5e5e5;
  position: relative; }
  footer .footer_bottom_section::after {
    content: "";
    background: url(../img/logo_footer.svg) center bottom no-repeat;
    background-size: 90%;
    opacity: 0.03;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0; }
  footer .footer_bottom_section img {
    width: 100%; }
  footer .footer_bottom_section p {
    line-height: 15px;
    font-size: 13px; }
  footer .footer_bottom_section .address_block {
    margin-bottom: 25px; }
    footer .footer_bottom_section .address_block li {
      margin-bottom: 15px; }
      footer .footer_bottom_section .address_block li a {
        color: #e5e5e5; }
      footer .footer_bottom_section .address_block li i.fa {
        margin-right: 5px;
        font-size: 20px;
        color: #d3c070;
        opacity: 0.5; }
      footer .footer_bottom_section .address_block li:last-child {
        margin-bottom: 0; }
  footer .footer_bottom_section .input_container {
    background-color: transparent; }
    footer .footer_bottom_section .input_container input {
      border-color: #d3c070;
      color: white; }
      footer .footer_bottom_section .input_container input:focus {
        border-color: #d3c070 !important; }
    footer .footer_bottom_section .input_container button {
      background: #d3c070;
      color: white; }
  footer .footer_bottom_section .copyright {
    font-size: 15px;
    text-transform: uppercase; }
  footer .footer_bottom_section ul.social_networks {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; }
    footer .footer_bottom_section ul.social_networks li {
      float: left;
      margin: 0; }
      footer .footer_bottom_section ul.social_networks li a,
      footer .footer_bottom_section ul.social_networks li a:visited,
      footer .footer_bottom_section ul.social_networks li a:focus {
        color: #e5e5e5;
        display: block;
        width: 50px;
        line-height: 40px;
        text-align: center; }
    footer .footer_bottom_section ul.social_networks li:hover a {
      color: #ffffff;
      font-size: 20px; }
    footer .footer_bottom_section ul.social_networks li.twitter {
      background-color: #21aaf4; }
    footer .footer_bottom_section ul.social_networks li.facebook {
      background-color: #4464a2; }
    footer .footer_bottom_section ul.social_networks li.linkedin {
      background-color: #037cb6; }
    footer .footer_bottom_section ul.social_networks li.scroll_to_top {
      background-color: #424661; }

.tooltipster-sidetip .tooltipster-box {
  background: #2c314f;
  border: none;
  border-radius: 0; }
  .tooltipster-sidetip .tooltipster-box .tooltipster-content {
    padding: 8px 20px 10px;
    font-size: 0.875rem;
    line-height: 0.875rem; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #2c314f; }
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-top-color: #2c314f; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #2c314f; }
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: #2c314f; }

/*# sourceMappingURL=global.css.map */
