.results_section h1 {
  font-size: 1.125rem; }

@media (min-width: 544px) {
  .results_section h1 {
    font-size: calc( 1rem + 2.6785vw - 13px ); }

  .results_section .view_type_container .view_type li {
    font-size: calc( 1rem + 0.8928vw - 3px ); } }
@media (min-width: 992px) {
  .results_section h1 {
    font-size: 1.375rem; }

  .results_section .view_type_container .view_type li {
    font-size: 1.125rem; } }
@media screen and (min-width: 1300px) {
  .carousel_section .carousel .flickity-prev-next-button {
    top: 50%; }
    .carousel_section .carousel .flickity-prev-next-button.previous {
      left: -30px; }
    .carousel_section .carousel .flickity-prev-next-button.next {
      right: -30px; }

  #contact .representatives_section .representatives_block .close_btn {
    right: -70px;
    top: 0; }

  footer .footer_bottom_section::after {
    background-size: 80%; } }
@media screen and (max-width: 1199px) {
  .results_section .results_container.grid_view .container-fluid .object_block_container .object_block,
  .results_section .results_container.map_view .container-fluid .object_block_container .object_block {
    padding-bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .title_container,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .title_container {
      bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_container,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_container {
      height: calc(100% - 63px); }
      .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li,
      .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li {
        margin-bottom: 7px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price {
      font-size: 1rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .gradient_bg,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .gradient_bg {
      bottom: 63px; }

  #commercial .object_block_container .object_block .info_block .properties_container h2,
  #press_list .object_block_container .object_block .info_block .properties_container h2 {
    font-size: 1.75rem; }
  #commercial .object_block_container .object_block .info_block .properties_container p,
  #press_list .object_block_container .object_block .info_block .properties_container p {
    margin: 10px 30px 60px; }

  #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties {
    padding: 15px 0 5px 50px; }
    #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties li {
      width: 20%;
      margin-bottom: 10px; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a ul {
    padding: 10px 0 0; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a ul li {
      width: 20%;
      margin-bottom: 10px; }

  #contact .representatives_section .object_block_container .representatives_block {
    margin-top: 15px; }
  #contact .representatives_section .object_block_container:first-child .representatives_block {
    margin: 0; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .search_block .row label.form_el_label {
    font-size: 0.813rem; } }
@media screen and (min-width: 768px) and (max-width: 1199px) {
  #contact .representatives_section .representatives_block .representative_container {
    margin-bottom: 0; }
  #contact .representatives_section .representatives_block.double .representative_container.opened {
    width: 100%; }
    #contact .representatives_section .representatives_block.double .representative_container.opened .representative_info {
      width: 50%;
      float: left; }
    #contact .representatives_section .representatives_block.double .representative_container.opened form.contact_form {
      width: 50%;
      float: left;
      padding-left: 10px; } }
@media screen and (max-width: 991px) {
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .title_container a h2 {
    font-size: 1.5rem; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .title_container ul.social_networks {
    padding: 7px 0; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .description_container h3 {
    font-size: 1rem; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .description_container .btn {
    padding: 0 7px; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price {
    font-size: 1rem; }

  .btn:not(.dropdown-toggle) {
    font-size: 1rem; }

  #commercial .object_block_container .object_block .info_block .properties_container,
  #press_list .object_block_container .object_block .info_block .properties_container {
    padding-top: 25%; }
    #commercial .object_block_container .object_block .info_block .properties_container h2,
    #press_list .object_block_container .object_block .info_block .properties_container h2 {
      font-size: 1.5rem; }
    #commercial .object_block_container .object_block .info_block .properties_container p,
    #press_list .object_block_container .object_block .info_block .properties_container p {
      margin: 10px 15px 20px;
      font-size: 1rem; }

  .gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-arrow {
    top: 20%; }
  .gallery_section .gallery_container .gallery_view .object_title h2 {
    font-size: 2.25rem; }
  .gallery_section .gallery_container .gallery_view .object_title h3 {
    font-size: 1.125rem; }

  .contact_section .agent_info_container .agent_info .agent_name {
    font-size: 1.5rem; }
  .contact_section .agent_info_container .agent_info ul li {
    width: 100%;
    font-size: 1rem; }
    .contact_section .agent_info_container .agent_info ul li:nth-child(2) {
      margin: 0;
      padding: 0;
      border: none; }

  #results_promotions .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .title_container span.properties_amount,
  #results_promotions .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .title_container span.properties_amount {
    font-size: 1.125rem; }

  #details_promotions .object_info_section.promotions .object_info_container ul.properties li i.icn {
    font-size: 3rem; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a ul li {
    font-size: 1rem; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title .object_price {
    font-size: 0.75rem;
    padding: 10px 5px; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title h2 {
    font-size: 1rem; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title h3 {
    font-size: 0.875rem; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info {
    padding: 15px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info p {
      font-size: 1rem; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info p.agent_name {
        font-size: 1.125rem; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .agent_info_container .agent_info ul li {
      font-size: 1.125rem; }

  #contact .map_section .container-fluid .map_info_block {
    top: 30px;
    left: 45px;
    padding: 30px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar ul.nav li.nav-item .dropdown-menu {
    right: 0;
    left: initial; } }
@media screen and (max-width: 767px) {
  .navbar ul.nav.hidden-links li.nav-item .dropdown-menu,
  .navbar ul.nav li.nav-item .dropdown-menu {
    padding: 25px 30px; }

  main h1 {
    font-size: 1.125rem; }
  main .top_image_section {
    height: 500px;
    padding-top: 180px; }
    main .top_image_section .title {
      font-size: 2.188rem; }
  main .homepage_search_section .nav.nav-tabs {
    margin-top: 10px; }
  main .carousel_section .carousel .carousel-cell {
    width: 50%; }
  main .categories_section a.commercial_category {
    margin-top: 30px; }
  main .results_section .view_type_container .view_type li {
    width: 50%; }
  main .results_section .results_container.list_view .object_block_container {
    width: 100%; }
    main .results_section .results_container.list_view .object_block_container .object_block .img_block {
      position: relative;
      height: 100%;
      max-height: 300px;
      float: none;
      width: 100%; }
      main .results_section .results_container.list_view .object_block_container .object_block .img_block img {
        height: auto;
        width: 100%; }
    main .results_section .results_container.list_view .object_block_container .object_block .info_block {
      float: none;
      width: 100%;
      margin-left: 0;
      border: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      border-top: none;
      padding: 30px; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .object_price {
        margin-top: 15px; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist li {
        display: table-cell; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:first-child {
        width: 40%; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:last-child {
        width: 60%; }
  main .results_section .results_container .container-fluid > .row .object_block_container .object_block .img_block .activity_label,
  main .results_section .results_container .container-fluid > .row .object_block_container .object_block .img_block .exclusive_label {
    font-size: 0.875rem; }
  main .results_section .results_container.map_view {
    height: 400px; }
    main .results_section .results_container.map_view #results_map {
      height: 400px; }

  #results_promotions main .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a h2,
  #results_promotions main .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a h2 {
    font-size: 1rem; }
  #results_promotions main .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .title_container span.properties_amount,
  #results_promotions main .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .title_container span.properties_amount {
    font-size: 1rem; }
  #results_promotions main .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .description_container h3,
  #results_promotions main .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .description_container h3 {
    font-size: 0.875rem; }
  #results_promotions main .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block:hover .title_container,
  #results_promotions main .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block:hover .title_container {
    bottom: 40%; }
    #results_promotions main .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block:hover .title_container a h2,
    #results_promotions main .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block:hover .title_container a h2 {
      font-size: 1.125rem; }
  #results_promotions main .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block:hover .description_container,
  #results_promotions main .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block:hover .description_container {
    opacity: 1;
    bottom: 40%;
    text-align: center; }

  #commercial .object_block_container .object_block .info_block .properties_container,
  #press_list .object_block_container .object_block .info_block .properties_container {
    padding-top: 15px;
    top: 55%; }
    #commercial .object_block_container .object_block .info_block .properties_container h2,
    #press_list .object_block_container .object_block .info_block .properties_container h2 {
      font-size: 1.25rem; }
    #commercial .object_block_container .object_block .info_block .properties_container p,
    #press_list .object_block_container .object_block .info_block .properties_container p {
      margin: 10px 15px 10px;
      font-size: 0.875rem; }
    #commercial .object_block_container .object_block .info_block .properties_container span,
    #press_list .object_block_container .object_block .info_block .properties_container span {
      font-size: 1rem; }

  #press_list .object_block_container .object_block .info_block .properties_container p {
    opacity: 0; }
  #press_list .object_block_container .object_block:hover .info_block .properties_container p {
    opacity: 0.5; }

  #team .object_block_container .object_block .info_block {
    padding: 15px;
    font-size: 0.875rem; }

  #details_promotions .object_info_section.promotions .object_info_container ul.properties {
    margin-bottom: 5px; }
    #details_promotions .object_info_section.promotions .object_info_container ul.properties li {
      width: 33.333%;
      text-align: left;
      margin-bottom: 10px; }
      #details_promotions .object_info_section.promotions .object_info_container ul.properties li i.icn {
        font-size: 1rem;
        display: initial;
        margin-right: 5px; }
    #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties {
      padding: 15px 15px 5px 30px; }
      #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties li {
        width: 25%; }
        #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties li .prop_val {
          font-size: 1rem; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a {
    padding: 0 15px 0 30px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a i.icn {
      left: 9px;
      top: 37px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a ul li {
      width: 25%;
      font-size: 0.875rem;
      text-align: left; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block {
    padding: 15px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2; }
        #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container .object_info {
          width: 45%;
          float: left;
          margin-top: 20px;
          padding-right: 15px; }
        #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container .agent_info {
          width: 55%;
          float: left;
          margin-top: 20px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .tab-content ul.object_prop_list li {
      font-size: 1rem;
      padding-right: 5px; }

  #contact .map_section .container-fluid .map_info_block {
    top: 15px;
    left: 30px;
    padding: 15px; }
    #contact .map_section .container-fluid .map_info_block span {
      font-size: 1.125rem; }
    #contact .map_section .container-fluid .map_info_block ul {
      margin-top: 15px; }
      #contact .map_section .container-fluid .map_info_block ul li {
        font-size: 1rem;
        margin-bottom: 5px; }

  .gallery_section .gallery_container .gallery_view .object_title h2 {
    font-size: 2rem; }
  .gallery_section .gallery_container .gallery_view .object_title h3 {
    font-size: 1rem; }
  .gallery_section .gallery_container .gallery_view .object_title .object_price {
    font-size: 1rem; }

  .contact_section .agent_info_container .agent_img img {
    width: 100%;
    float: none;
    height: auto; }
  .contact_section .agent_info_container .agent_info {
    padding-left: 15px; }
    .contact_section .agent_info_container .agent_info .agent_name {
      font-size: 1.5rem; }
  .contact_section .agent_info_container .object_info {
    padding-right: 15px; }

  .object_info_section .object_info_container {
    padding: 15px; }
    .object_info_section .object_info_container ul.properties {
      margin-bottom: 10px; }
      .object_info_section .object_info_container ul.properties li {
        width: 25%;
        margin-bottom: 20px; }
        .object_info_section .object_info_container ul.properties li i {
          margin-bottom: 10px; }
    .object_info_section .object_info_container ul.nav li.nav-item a.nav-link {
      font-size: 1rem; }
    .object_info_section .object_info_container ul.object_prop_list li {
      width: 33.333%; }

  .location_section .map_container #object_map {
    height: 480px; }
  .location_section .map_container .map_sidebar {
    padding: 15px; }
    .location_section .map_container .map_sidebar ul li {
      margin-bottom: 15px; }
      .location_section .map_container .map_sidebar ul li .my_checkbox label .my_checkbox_text span {
        display: none; }

  .contact_form_section form {
    padding: 20px 15px 0 15px; }

  footer .footer_bottom_section .address_block {
    margin-top: 25px; } }
@media screen and (min-width: 544px) and (max-width: 767px) {
  #results_promotions .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a,
  #results_promotions .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a {
    float: none;
    width: 100%;
    margin-bottom: 10px; }

  .results_section .results_container.grid_view .container-fluid .object_block_container .object_block,
  .results_section .results_container.map_view .container-fluid .object_block_container .object_block {
    padding-bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .title_container,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .title_container {
      bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_container,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_container {
      height: calc(100% - 63px); }
      .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li,
      .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_container ul.properties li {
        margin-bottom: 0;
        font-size: 0.875rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .description_container h3,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .description_container h3 {
      font-size: 0.875rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price {
      font-size: 0.875rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .gradient_bg,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .gradient_bg {
      bottom: 63px; } }
@media screen and (max-width: 543px) {
  header {
    padding: 15px 0; }
    header .contact_info_container {
      display: table;
      width: 100%;
      margin-top: 10px; }
      header .contact_info_container a {
        display: initial;
        font-size: 0.875rem; }
        header .contact_info_container a:first-child {
          margin-right: 10px; }

  .navbar ul.nav.hidden-links li.nav-item .dropdown-menu,
  .navbar ul.nav li.nav-item .dropdown-menu {
    right: 30px;
    top: 100%;
    padding: 15px 15px; }

  main {
    padding-bottom: 30px; }
    main .search_section .search_block {
      padding: 25px 15px 20px; }
    main .top_image_section {
      height: 300px;
      padding-top: 90px; }
      main .top_image_section .title {
        font-size: 1.563rem; }
      main .top_image_section .sub_title {
        font-size: 1.250rem; }
    main .carousel_section .carousel .carousel-cell {
      width: 100%; }
    main .articles_section .article_block img {
      max-width: 100%;
      margin-bottom: 15px; }
    main .articles_section .article_block p {
      margin-bottom: 15px; }
    main .categories_section a.category:not(.sell_category) {
      margin-top: 30px; }
    main .categories_section a.agency_category {
      height: 185px; }
      main .categories_section a.agency_category .category_title {
        height: 185px; }
    main .gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider {
      margin: 6px 0 0; }
      main .gallery_section .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide {
        padding: 0 3px; }
    main .gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-arrow {
      top: 30%;
      font-size: 1.5rem; }
      main .gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-prev {
        left: initial;
        right: 60px; }
      main .gallery_section .gallery_container .gallery_view .gallery.slick-slider .slick-arrow.slick-next {
        right: 15px; }
    main .gallery_section .gallery_container .gallery_view .object_title h2 {
      font-size: 1rem;
      margin-top: 15px; }
    main .gallery_section .gallery_container .gallery_view .object_title h3 {
      font-size: 0.75rem; }
    main .gallery_section .gallery_container .gallery_view .object_title .object_price {
      display: table;
      padding: 5px 15px;
      font-size: 0.75rem;
      margin: 0 auto; }
    main .contact_section .agent_info_container .agent_info {
      padding: 15px; }
      main .contact_section .agent_info_container .agent_info p {
        font-size: 1rem; }
      main .contact_section .agent_info_container .agent_info .agent_name {
        font-size: 1.125rem; }
      main .contact_section .agent_info_container .agent_info ul li {
        font-size: 0.875rem; }
    main .contact_section .agent_info_container .object_info {
      padding: 0 15px 15px 15px; }
      main .contact_section .agent_info_container .object_info .object_id {
        margin: 0 0 15px; }
    main .object_info_section .object_info_container ul.properties {
      margin-bottom: 10px; }
      main .object_info_section .object_info_container ul.properties li {
        width: 50%;
        margin-bottom: 20px; }
        main .object_info_section .object_info_container ul.properties li i {
          margin-bottom: 10px;
          font-size: 2rem; }
    main .object_info_section .object_info_container ul.nav li.nav-item a.nav-link {
      font-size: 0.75rem; }
    main .object_info_section .object_info_container ul.object_prop_list li {
      width: 50%;
      margin-bottom: 10px;
      font-size: 0.875rem; }
    main .object_info_section h1,
    main .location_section h1,
    main .contact_form_section h1,
    main .representatives_section h1 {
      font-size: 1rem;
      margin: 25px 0 10px; }
    main .contact_form_section form .my_checkbox {
      position: relative;
      margin-top: 10px;
      bottom: 0; }
    main .contact_form_section form span.required_fields {
      margin: 0; }

  .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:first-child,
  .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:last-child {
    width: 100%;
    float: none; }
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:first-child li,
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:last-child li {
      width: 33.3333%; }
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:first-child:last-child,
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_container ul.properties ul.sublist:last-child:last-child {
      margin-top: 10px; }

  #details_commercial .gallery_section .gallery_container .gallery_view .object_title h2 {
    margin-top: 10px; }
  #details_commercial .gallery_section .gallery_container .gallery_view .object_title .object_price_label {
    text-align: center;
    display: block;
    margin-bottom: 2px;
    margin-top: 7px;
    text-transform: none;
    font-size: 0.75rem; }

  #details_commercial .object_info_section .object_info_container ul.properties {
    width: 100%;
    min-width: 100%; }

  #contact h1 {
    margin: 25px 0 10px; }
  #contact .representatives_section .object_block_container .representatives_block h2 {
    font-size: 1rem;
    padding: 10px 5px;
    margin: 0 0 15px; }
  #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .img_block,
  #contact .representatives_section .object_block_container .representatives_block .representative_container .representative .contact_block {
    float: none;
    width: 100%;
    padding: 0; }
  #contact .map_section .container-fluid #contact_map {
    height: 400px; }
  #contact .map_section .container-fluid .map_info_block {
    top: 10px;
    left: 25px;
    padding: 10px; }
    #contact .map_section .container-fluid .map_info_block span {
      font-size: 1rem; }
    #contact .map_section .container-fluid .map_info_block ul {
      margin-top: 10px; }
      #contact .map_section .container-fluid .map_info_block ul li {
        font-size: 0.875rem; }

  #details_promotions .object_info_section.promotions .object_info_container ul.properties li {
    width: 50%; }
    #details_promotions .object_info_section.promotions .object_info_container ul.properties li .prop_val {
      font-size: 0.875rem; }
  #details_promotions .object_info_section.promotions .object_info_container ul.properties.general_properties li {
    width: 50%; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a i.icn {
    top: 55px; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a ul {
    padding-bottom: 5px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-header a ul li {
      width: 50%;
      margin-bottom: 5px; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container {
    margin-bottom: 30px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title {
      padding: 0 5px; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title .object_price {
        font-size: 0.5rem;
        padding: 5px 5px; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title h2 {
        font-size: 0.875rem; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_view .object_title h3 {
        font-size: 0.5rem; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container .object_info {
      width: 100%;
      float: none;
      padding-right: 0; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container .object_info button.btn {
        height: 40px;
        line-height: 40px; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container .agent_info {
      width: 100%;
      float: none; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container .agent_info p {
        font-size: 1rem; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .sidebar .agent_info_container .agent_info ul li {
        font-size: 1rem; }
    #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_nav {
      margin: 0 -5px; }
      #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_nav .gallery_thumbnails.slick-slider {
        margin-top: 10px; }
        #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .gallery_container .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide {
          padding: 0 5px; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block .tab-content ul.object_prop_list li {
    font-size: 0.875rem; }
  #details_promotions .object_info_section.promotions .object_info_container .accordion .card .card-block ul.nav {
    margin: 20px auto; }

  #agency .agency_img_section {
    margin-top: 30px; }
  #agency .agency_info_section .agency_info_container {
    padding: 15px; }
    #agency .agency_info_section .agency_info_container h1, #agency .agency_info_section .agency_info_container h2, #agency .agency_info_section .agency_info_container p, #agency .agency_info_section .agency_info_container ul {
      margin-bottom: 15px; } }

/*# sourceMappingURL=media_queries.css.map */
