.results_section h1 {
  font-size: 1.125rem; }

@media (min-width: 544px) {
  .results_section h1 {
    font-size: calc( 1rem + 2.6785vw - 13px ); }

  .results_section .view_type_container .view_type li {
    font-size: calc( 1rem + 0.8928vw - 3px ); } }
@media (min-width: 992px) {
  .results_section h1 {
    font-size: 1.375rem; }

  .results_section .view_type_container .view_type li {
    font-size: 1.125rem; } }
@media screen and (min-width: 1300px) {
  .carousel_section .carousel .flickity-prev-next-button {
    top: 50%; }
    .carousel_section .carousel .flickity-prev-next-button.previous {
      left: -30px; }
    .carousel_section .carousel .flickity-prev-next-button.next {
      right: -30px; } }
@media screen and (max-width: 1199px) {
  .results_section .results_container.grid_view .container-fluid .object_block_container .object_block,
  .results_section .results_container.map_view .container-fluid .object_block_container .object_block {
    padding-bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .title_container,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .title_container {
      bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_containner,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_containner {
      height: calc(100% - 63px); }
      .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_containner ul.properties li,
      .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_containner ul.properties li {
        margin-bottom: 7px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price {
      font-size: 1rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .gradient_bg,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .gradient_bg {
      bottom: 63px; } }
@media screen and (max-width: 991px) {
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .title_container a h2 {
    font-size: 1.5rem; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .title_container ul.social_networks {
    padding: 7px 0; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .description_container h3 {
    font-size: 1rem; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .description_container .btn {
    padding: 0 7px; }
  .results_section .results_container.list_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price {
    font-size: 1rem; }

  .btn:not(.dropdown-toggle) {
    font-size: 1rem; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar ul.nav li.nav-item .dropdown-menu {
    right: 0;
    left: initial; } }
@media screen and (max-width: 767px) {
  .navbar ul.nav.hidden-links li.nav-item .dropdown-menu,
  .navbar ul.nav li.nav-item .dropdown-menu {
    padding: 25px 30px; }

  main .top_image_section {
    height: 500px;
    padding-top: 180px; }
    main .top_image_section .title {
      font-size: 2.188rem; }
  main .homepage_search_section .nav.nav-tabs {
    margin-top: 10px; }
  main .carousel_section .carousel .carousel-cell {
    width: 50%; }
  main .categories_section a.commercial_category {
    margin-top: 30px; }
  main .results_section .view_type_container .view_type li {
    width: 50%; }
  main .results_section .results_container.list_view .object_block_container {
    width: 100%; }
    main .results_section .results_container.list_view .object_block_container .object_block .img_block {
      position: relative;
      height: 100%;
      max-height: 300px;
      float: none;
      width: 100%; }
      main .results_section .results_container.list_view .object_block_container .object_block .img_block img {
        height: auto;
        width: 100%; }
    main .results_section .results_container.list_view .object_block_container .object_block .info_block {
      float: none;
      width: 100%;
      margin-left: 0;
      border: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
      border-top: none;
      padding: 30px; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .object_price {
        margin-top: 15px; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist li {
        display: table-cell; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:first-child {
        width: 40%; }
      main .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:last-child {
        width: 60%; }
  main .results_section .results_container .container-fluid > .row .object_block_container .object_block .img_block .activity_label,
  main .results_section .results_container .container-fluid > .row .object_block_container .object_block .img_block .exclusive_label {
    font-size: 0.875rem; }
  main .results_section .results_container.map_view {
    height: 400px; }
    main .results_section .results_container.map_view #results_map {
      height: 400px; }

  main#results_promotions .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a h2,
  main#results_promotions .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a h2 {
    font-size: 1rem; }
  main#results_promotions .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .description_container h3,
  main#results_promotions .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .description_container h3 {
    font-size: 0.875rem; }
  main#results_promotions .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block:hover .title_container a h2,
  main#results_promotions .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block:hover .title_container a h2 {
    font-size: 1.25rem; }
  main#results_promotions .results_section .results_container.grid_view .container-fluid > .row .object_block_container .object_block:hover .description_container,
  main#results_promotions .results_section .results_container.map_view .container-fluid > .row .object_block_container .object_block:hover .description_container {
    opacity: 1;
    bottom: 40%;
    text-align: center; }

  footer .footer_bottom_section .address_block {
    margin-top: 25px; } }
@media screen and (min-width: 544px) and (max-width: 767px) {
  .results_section .results_container.grid_view .container-fluid .object_block_container .object_block,
  .results_section .results_container.map_view .container-fluid .object_block_container .object_block {
    padding-bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .title_container,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .title_container {
      bottom: 63px; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_containner,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_containner {
      height: calc(100% - 63px); }
      .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .properties_containner ul.properties li,
      .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .properties_containner ul.properties li {
        margin-bottom: 0;
        font-size: 0.875rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .description_container h3,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .description_container h3 {
      font-size: 0.875rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .info_block .description_container .object_price {
      font-size: 0.875rem; }
    .results_section .results_container.grid_view .container-fluid .object_block_container .object_block .gradient_bg,
    .results_section .results_container.map_view .container-fluid .object_block_container .object_block .gradient_bg {
      bottom: 63px; } }
@media screen and (max-width: 543px) {
  header {
    padding: 15px 0; }
    header .contact_info_container {
      display: table;
      width: 100%;
      margin-top: 10px; }
      header .contact_info_container a {
        display: initial;
        font-size: 0.875rem; }
        header .contact_info_container a:first-child {
          margin-right: 10px; }

  .navbar ul.nav.hidden-links li.nav-item .dropdown-menu,
  .navbar ul.nav li.nav-item .dropdown-menu {
    right: 30px;
    top: 100%;
    padding: 15px 15px; }

  main .search_section .search_block {
    padding: 25px 15px 20px; }
  main .top_image_section {
    height: 300px;
    padding-top: 90px; }
    main .top_image_section .title {
      font-size: 1.563rem; }
    main .top_image_section .sub_title {
      font-size: 1.250rem; }
  main .carousel_section .carousel .carousel-cell {
    width: 100%; }
  main .articles_section .article_block p {
    margin-bottom: 10px; }
  main .articles_section .article_block h2 {
    margin-bottom: 10px;
    margin-top: 10px; }
  main .articles_section .article_block:last-child {
    text-align: left; }
  main .categories_section a.category:not(.sell_category) {
    margin-top: 30px; }
  main .categories_section a.agency_category {
    height: 185px; }
    main .categories_section a.agency_category .category_title {
      height: 185px; }

  .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:first-child,
  .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:last-child {
    width: 100%;
    float: none; }
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:first-child li,
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:last-child li {
      width: 33.3333%; }
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:first-child:last-child,
    .results_section .results_container.list_view .object_block_container .object_block .info_block .properties_containner ul.properties ul.sublist:last-child:last-child {
      margin-top: 10px; } }

/*# sourceMappingURL=media_queries.css.map */
