@import "variables";

.results_section h1 { font-size: 1.125rem; }

@media (min-width: 544px) {
  .results_section  h1 { font-size: calc( 1rem + 2.6785vw - 13px ); }
  .results_section .view_type_container .view_type li { font-size: calc( 1rem + 0.8928vw - 3px ); }
}

@media (min-width: 992px) {
  .results_section  h1 { font-size: 1.375rem; }
  .results_section .view_type_container .view_type li { font-size: 1.125rem; }
}

@media screen and ( min-width: 1300px ) {
  .carousel_section .carousel .flickity-prev-next-button {
    top: 50%;
    &.previous {
      left: -30px;
    }
    &.next {
      right: -30px;
    }
  }

  #contact .representatives_section .representatives_block {
    .close_btn {
      right: -70px;
      top: 0;
    }
  }
}


@media screen and ( max-width: 1199px ) {
  .results_section {
    .results_container.grid_view .container-fluid,
    .results_container.map_view .container-fluid {
      .object_block_container .object_block {
        padding-bottom: 63px;
        .info_block {
          .title_container {
            bottom: 63px;
          }
          .properties_container {
            height: calc(100% - 63px);
            ul.properties li {
              margin-bottom: 7px;
            }
          }
          .description_container {
            .object_price {
              font-size: 1rem;
            }
          }
        }
        .gradient_bg {
          bottom: 63px;
        }
      }
    }
  }
  #commercial,
  #press_list {
    .object_block_container .object_block {
      .info_block .properties_container {
        h2 {
          font-size: 1.75rem;
        }
        p {
          margin: 10px 30px 60px;
        }
      }
    }
  }
}

@media screen and ( min-width: 992px) and (max-width: 1199px) {
  .search_block .row label.form_el_label {
    font-size: 0.813rem;
  }
}

@media screen and ( min-width: 768px) and (max-width: 1199px) {
  #contact .representatives_section .representatives_block {
    .representative_container {
      margin-bottom: 0;
    }
    &.double {
      .representative_container {
        &.opened {
          width: 100%;
          .representative_info {
            width: 50%;
            float: left;
          }
          form.contact_form {
            width: 50%;
            float: left;
            padding-left: 10px;
          }
        }
      }
    }
  }

}

@media screen and ( max-width: 991px ) {
  .results_section {
    .results_container.list_view .container-fluid {
      .object_block_container .object_block .info_block {
        .title_container {
          a h2 {
            font-size: 1.5rem;
          }
          ul.social_networks {
            padding: 7px 0;
          }
        }
        .description_container {
          h3 {
            font-size: 1rem;
          }
          .btn {
            padding: 0 7px;
          }
          .object_price {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .btn:not(.dropdown-toggle) {
    font-size: 1rem;
  }
  #commercial,
  #press_list  {
    .object_block_container .object_block {
      .info_block .properties_container {
        padding-top: 25%;
        h2 {
          font-size: 1.5rem;
        }
        p {
          margin: 10px 15px 20px;
          font-size: 1rem;
        }
      }
    }
  }

  .gallery_section {
    .gallery_container {
      .gallery_view {
        .gallery.slick-slider .slick-arrow {
          top: 20%;
        }
        .object_title {
          h2 {
            font-size: 2.25rem;
          }
          h3 {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  .contact_section {
    .agent_info_container {
      .agent_info {
        .agent_name {
          font-size: 1.5rem;
        }
        ul {
          li {
            width: 100%;
            font-size: 1rem;
            &:nth-child(2) {
              margin: 0;
              padding: 0;
              border: none;
            }
          }
        }
      }
    }
  }

  #results_promotions .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .title_container span.properties_amount,
  #results_promotions .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .title_container span.properties_amount {
    font-size: 1.125rem;
  }
}

@media screen and ( min-width: 768px ) and ( max-width: 991px ) {
  .navbar ul.nav li.nav-item .dropdown-menu {
    right: 0;
    left: initial;
  }
}

@media screen and ( max-width: 767px ) {
  .navbar ul.nav.hidden-links li.nav-item .dropdown-menu,
  .navbar ul.nav li.nav-item .dropdown-menu {
    padding: 25px 30px;
  }
  main {
    .top_image_section {
      height: 500px;
      padding-top: 180px;
      .title {
        font-size: 2.188rem;
      }
    }
    .homepage_search_section {
      .nav.nav-tabs {
        margin-top: 10px;
      }
    }
    .carousel_section .carousel .carousel-cell {
      width: 50%;
    }
    .categories_section {
      a.commercial_category {
        margin-top: 30px;
      }
    }
    .results_section {
      .view_type_container .view_type li {
        width: 50%;
      }
      .results_container {
        &.list_view {
          .object_block_container {
            width: 100%;
            .object_block {
              .img_block {
                position: relative;
                height: 100%;
                max-height: 300px;
                float: none;
                width: 100%;
                img {
                  height: auto;
                  width: 100%;
                }
              }
              .info_block {
                float: none;
                width: 100%;
                margin-left: 0;
                border: 1px solid $border_color;
                border-left: 1px solid $border_color;
                border-top: none;
                padding: 30px;
                .object_price {
                  margin-top: 15px;
                }

                .properties_container {
                  ul.properties {
                    ul.sublist {
                      li {
                        display: table-cell;
                      }
                      &:first-child {
                        width: 40%;
                      }
                      &:last-child {
                        width: 60%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .container-fluid > .row .object_block_container .object_block .img_block {
          .activity_label,
          .exclusive_label {
            font-size: 0.875rem;
          }
        }
      }
      .results_container.map_view {
        height: 400px;
        #results_map {
          height: 400px;
        }
      }
    }
  }
  #results_promotions {
    main {
      .results_section {
        .results_container.grid_view,
        .results_container.map_view {
          .container-fluid {
            > .row {
              .object_block_container {
                .object_block {
                  .info_block {
                    .title_container {
                      a {
                        h2 {
                          font-size: 1rem;
                        }
                      }
                      span.properties_amount {
                        font-size: 1rem;
                      }
                    }
                    .description_container {
                      h3 {
                        font-size: 0.875rem;
                      }
                    }
                  }
                  &:hover {
                    .title_container {
                      bottom: 40%;
                      a {
                        h2 {
                          font-size: 1.125rem;
                        }
                      }
                    }
                    .description_container {
                      opacity: 1;
                      bottom: 40%;
                      text-align: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #commercial,
  #press_list {
    .object_block_container .object_block {
      .info_block .properties_container {
        padding-top: 15px;
        top: 55%;
        h2 {
          font-size: 1.25rem;
        }
        p {
          margin: 10px 15px 10px;
          font-size: 0.875rem;
        }
        span {
          font-size: 1rem;
        }
      }
    }
  }
  #press_list {
    .object_block_container .object_block {
      .info_block {
        .properties_container {
          p {
            opacity: 0;
          }
        }
      }
      &:hover {
        .info_block {
          .properties_container {
            p {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  #team .object_block_container .object_block .info_block {
    padding: 15px;
    font-size: 0.875rem;
  }

  .gallery_section {
    .gallery_container {
      .gallery_view .object_title {
        h2 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1rem;
        }
        .object_price {
          font-size: 1rem;
        }
      }
    }
  }

  .contact_section {
    .agent_info_container {
      .agent_img {
        img {
          width: 100%;
          float: none;
          height: auto;
        }
      }
      .agent_info {
        padding-left: 15px;
        .agent_name {
          font-size: 1.5rem;
        }
      }
      .object_info {
        padding-right: 15px;
      }
    }
  }

  .object_info_section {
    .object_info_container {
      padding: 15px;
      ul.properties {
        margin-bottom: 10px;
        li {
          width: 25%;
          margin-bottom: 20px;
          i {
            margin-bottom: 10px;
          }
        }
      }
      ul.nav li.nav-item a.nav-link {
        font-size: 1rem;
      }
      ul.object_prop_list li {
        width: 33.333%;
      }
    }
  }

  .location_section .map_container {
    #object_map {
      height: 480px;
    }
    .map_sidebar {
      padding: 15px;
      ul li {
        margin-bottom: 15px;
        .my_checkbox label .my_checkbox_text {
          span {
            display: none;
          }
        }
      }
    }
  }

  .contact_form_section form {
    padding: 20px 15px 0 15px;
  }

  footer {
    .footer_bottom_section .address_block {
      margin-top: 25px;
    }
  }
}

@media screen and ( min-width: 544px) and (max-width: 767px) {
  #results_promotions .results_container.grid_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a,
  #results_promotions .results_container.map_view .container-fluid > .row .object_block_container .object_block .info_block .title_container a {
    float: none;
    width: 100%;
    margin-bottom: 10px;
  }
}

@media screen and ( min-width: 544px) and (max-width: 767px) {
  .results_section {
    .results_container.grid_view .container-fluid,
    .results_container.map_view .container-fluid {
      .object_block_container .object_block {
        padding-bottom: 63px;
        .info_block {
          .title_container {
            bottom: 63px;
          }
          .properties_container {
            height: calc(100% - 63px);
            ul.properties li {
              margin-bottom: 0;
              font-size: 0.875rem;
            }
          }
          .description_container {
            h3 {
              font-size: 0.875rem;
            }
            .object_price {
              font-size: 0.875rem;
            }
          }
        }
        .gradient_bg {
          bottom: 63px;
        }
      }
    }
  }
}

@media screen and ( max-width: 543px ) {
  header {
    padding: 15px 0;
    .contact_info_container {
      display: table;
      width: 100%;
      margin-top: 10px;
      a {
        display: initial;
        font-size: 0.875rem;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  .navbar ul.nav.hidden-links li.nav-item .dropdown-menu,
  .navbar ul.nav li.nav-item .dropdown-menu {
    right: 30px;
    top: 100%;
    padding: 15px 15px;
  }

  main {
    .search_section .search_block {
      padding: 25px 15px 20px;
    }
    .top_image_section {
      height: 300px;
      padding-top: 90px;
      .title {
        font-size: 1.563rem;
      }
      .sub_title {
        font-size: 1.250rem;
      }
    }

    .carousel_section .carousel .carousel-cell {
      width: 100%;
    }

    .articles_section .article_block {
      p {
        margin-bottom: 10px;
      }
      h2 {
        margin-bottom: 10px;
        margin-top: 10px;
      }
      &:last-child {
        text-align: left;
      }
    }

    .categories_section {
      a.category:not(.sell_category) {
        margin-top: 30px;
      }
      a.agency_category {
        height: 185px;
        .category_title {
          height: 185px;
        }
      }
    }

    .gallery_section {
      .gallery_container {
        .gallery_nav .gallery_thumbnails.slick-slider .slick-list .slick-track .slick-slide {
          padding: 0 3px;
        }
        .gallery_view .gallery.slick-slider .slick-arrow {
          top: 30%;
          font-size: 1.5rem;
          &.slick-prev {
            left: initial;
            right: 60px;
          }
          &.slick-next  {
            right: 15px;
          }
        }
        .gallery_view .object_title {
          h2 {
            font-size: 1rem;
            margin-top: 15px;
          }
          h3 {
            font-size: 0.75rem;
          }
          .object_price {
            display: table;
            padding: 5px 15px;
            font-size: 0.75rem;
            margin: 0 auto;
          }
        }
      }
    }

    .contact_section {
      .agent_info_container {
        .agent_info {
          padding: 15px;
          p {
            font-size: 1rem;
          }
          .agent_name {
            font-size: 1.125rem;
          }
          ul li {
            font-size: 0.875rem;
          }
        }
        .object_info {
          padding: 0 15px 15px 15px;
          .object_id {
            margin: 0 0 15px;
          }
        }
      }
    }

    .object_info_section {
      .object_info_container {
        ul.properties {
          margin-bottom: 10px;
          li {
            width: 50%;
            margin-bottom: 20px;
            i {
              margin-bottom: 10px;
              font-size: 2rem;
            }
          }
        }
        ul.nav li.nav-item a.nav-link {
          font-size: 0.75rem;
        }
        ul.object_prop_list li {
          width: 50%;
          margin-bottom: 10px;
          font-size: 0.875rem;
        }
      }
    }

    .object_info_section,
    .location_section,
    .contact_form_section {
      h1 {
        font-size: 1rem;
      }
    }

    .contact_form_section form {
      .my_checkbox {
        position: relative;
        margin-top: 10px;
        bottom: 0;
      }
      span.required_fields {
        margin: 0;
      }
    }

  }
  .results_section {
    .results_container.list_view {
      .object_block_container {
        .object_block {
          .info_block {
            .properties_container {
              ul.properties {
                ul.sublist:first-child,
                ul.sublist:last-child {
                  width: 100%;
                  float: none;
                  li {
                    width: 33.3333%;
                  }
                  &:last-child {
                    margin-top: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #details_commercial {
    .gallery_section {
      .gallery_container {
        .gallery_view {
          .object_title {
            h2 {
              margin-top: 10px;
            }
            .object_price_label {
              text-align: center;
              display: block;
              margin-bottom: 2px;
              margin-top: 7px;
              text-transform: none;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }

  #details_commercial .object_info_section .object_info_container ul.properties {
    width: 100%;
    min-width: 100%;
  }

  #contact {
    .representatives_section {
      .representatives_block {
        .representative_container {
          .representative {
            .img_block,
            .contact_block {
              float: none;
              width: 100%;
              padding: 0;
            }
          }
        }
      }
    }
  }
}




